<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.packt.blog.mapper.BlogUserMapper">
	<insert id="addNewUser" parameterType="com.packt.blog.model.BlogUser">
		INSERT INTO blog_user(username, email, password, name, enabled, created_by)
		VALUES(#{username:VARCHAR}, #{email:VARCHAR}, #{password:VARCHAR}, 
			#{name:VARCHAR}, #{enabled:NUMERIC}, #{createdBy:VARCHAR})
	</insert>
	
	<resultMap type="com.packt.blog.model.BlogUser" id="user-detail-map">
		<id property="username" column="username"/>
		<result property="email" column="email"/>
		<result property="password" column="password"/>
		<result property="name" column="name"/>
		<result property="enabled" column="enabled"/>
		<result property="createdBy" column="created_by" />
		<result property="createdOn" column="created_on" />
		<result property="updatedBy" column="updated_by" />
		<result property="updatedOn" column="updated_on" />
		<collection property="roles" javaType="list" ofType="com.packt.blog.model.BlogRole" 
			column="username">
			<id property="roleName" column="role_name" />
		</collection>
	</resultMap>
	
	<select id="getUser" parameterType="string" resultMap="user-detail-map">
		SELECT u.username, u.email, u.password, u.name,
			u.enabled, u.created_by, u.created_on, 
			u.updated_by, u.updated_on, ur.role_name
		FROM blog_user u
		LEFT OUTER JOIN blog_user_role ur ON ur.username = u.username
	</select>

	<update id="updatePassword" parameterType="map">
		UPDATE blog_user SET 
			password = #{password},
			updated_by = #{updatedBy},
			updated_on = sysdate 
		WHERE username = #{username}
	</update>
	
	<update id="updateEnabled" parameterType="map">
		UPDATE blog_user SET 
			enabled = #{enabled},
			updated_by = #{updatedBy},
			updated_on = sysdate 
		WHERE username = #{username}
	</update>
	
	<update id="updateUser" parameterType="com.packt.blog.model.BlogUser">
		UPDATE blog_user SET 
			email = #{email:VARCHAR},
			name = #{name:VARCHAR},
			updated_by = #{updatedBy:VARCHAR},
			updated_on = sysdate
		WHERE username = #{username}
	</update>
</mapper>