<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.packt.blog.mapper.BlogUserMapper">
	<insert id="addNewUser" parameterType="com.packt.blog.model.BlogUser">
		INSERT INTO blog_user(username, email, password, name, enabled, role_name, created_by)
		VALUES(#{username:VARCHAR}, #{email:VARCHAR}, #{password:VARCHAR}, 
			#{name:VARCHAR}, #{enabled:NUMERIC}, #{roleName:VARCHAR}, #{createdBy:VARCHAR})
	</insert>

	<select id="getUser" parameterType="string" resultType="com.packt.blog.model.BlogUser">
		SELECT u.username, u.email, u.password, u.name,
			u.enabled, u.created_by, u.created_on, 
			u.updated_by, u.updated_on, u.role_name
		FROM blog_user u
		WHERE u.username = #{username}
	</select>

	<update id="updatePassword" parameterType="map">
		UPDATE blog_user SET 
			password = #{password},
			updated_by = #{updatedBy},
			updated_on = sysdate 
		WHERE username = #{username}
	</update>
	
	<update id="updateEnabled" parameterType="map">
		UPDATE blog_user SET 
			enabled = #{enabled},
			updated_by = #{updatedBy},
			updated_on = sysdate 
		WHERE username = #{username}
	</update>
	
	<update id="updateRole" parameterType="map">
		UPDATE blog_user SET 
			role_name = #{roleName},
			updated_by = #{updatedBy},
			updated_on = sysdate 
		WHERE username = #{username}
	</update>
	
	<update id="updateUser" parameterType="com.packt.blog.model.BlogUser">
		UPDATE blog_user SET 
			email = #{email:VARCHAR},
			name = #{name:VARCHAR},
			updated_by = #{updatedBy:VARCHAR},
			updated_on = sysdate
		WHERE username = #{username}
	</update>
	
</mapper>