<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"	
  	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
    	
		<title>Blog | Login </title>
		<meta name="description" content=""/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
		 <link rel="stylesheet" type="text/css" 
            href="https://bootswatch.com/4/cerulean/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css"
        	href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
        <link rel="stylesheet" type="text/css"
        	href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.9.0/css/flag-icon.min.css" />
        <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}" />
        <link rel="stylesheet" type="text/css" 
        	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        
	</head>
   <body>
   		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<a class="navbar-brand" th:href="@{/}">Blogpress</a>
			
		</nav>
		<div class="container">
			<div class="content">
				<div class="row justify-content-md-center">
					<div class="col-md-4">
						<form name="form" th:action="@{/login}" action="/login" method="POST">
							<div class="form-group">
								<label for="username">Username</label> 
								<input type="text" name="username" class="form-control" 
									id="username" placeholder="Username" />
							</div>
			
							<div class="form-group">
								<label for="pass">Password</label> 
								<input type="password" name="password" class="form-control" id="pass" />
							</div>
			
							<input type="submit" id="login" value="Sign In"
								class="btn btn-primary btn-block"></input>
						</form>
					</div>
				</div>
				
			</div>
		</div>
		
		<footer id="footer"></footer>
		<!-- /.container -->
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"></script>
        <script src="http://malsup.github.io/min/jquery.form.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
        <script th:src="@{/static/js/bootpag.js}"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript" th:src="@{/static/js/common.js}"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootlint/0.14.2/bootlint.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/2.8.1/jquery.serializejson.min.js"></script>
		<script type="text/javascript">
			$(function(){
				
			});
		
		</script>
	</body>
	
</html>
 
